{% extends "base.html" %}

{% block body %}
    <div class="profile-container">
        
        <div class="profile-header">
            <div class="name-container">
                 <h1 class="profile-username">{{ info['name'] }}</h1>
                {% if info['verified'] %}
                   <i class="fas fa-check-circle text-blue fa-2x"></i>
                {% else %}
                    <a style="display: none;"></a>
                {% endif %}
            </div>
            <a href="" class="profile-handle mention">@{{ info['name'] }}</a>
        </div>
        <div class="profile-details">
            <div class="detail">
                <p class="detail-label">Followers:</p>
                {% if info['followers'] == 0 or info['followers'] > 1 %}
                    <p class="detail-value">{{ info['followers'] }} followers</p>
                {% else %}
                    <p class="detail-value">1 follower</p>
                {% endif %}
            </div>
            <div class="detail">
                <p class="detail-label">Joined Mindstream on:</p>
                <p class="detail-value">{{ info['first-joined'] }}</p>
            </div>
            <div class="detail">
                <p class="detail-label">Posts:</p>
                {% if info['posts'] == 0 or info['posts'] > 1 %}
                    <p class="detail-value">{{ info['posts'] }} posts</p>
                {% else %}
                    <p class="detail-value">1 post</p>
                {% endif %}
            </div>
            <div class="detail">
                <p class="detail-label">Comments Gained:</p>
                {% if info['comments'] == 0 or info['comments'] > 1 %}
                    <p class="detail-value">{{ info['comments'] }} comments</p>
                {% else %}
                    <p class="detail-value">1 comment</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
